html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  background-color: #d9534f;
  text-align: center;
  color: rgb(255, 255, 255);
}

.content {
  margin-bottom: 50px;
}

.footer-items {
  margin-top: 25px;
}

.footer-items p a {
  color: white;
}
