.navbar {
  background-color: rgb(25, 25, 25);
}

.navbar-default .navbar-brand {
  color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav > li > a {
  color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav > .active > a {
  background-color: rgb(53, 180, 79);
  color: rgb(255, 255, 255);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(255, 255, 255);
}

.navbar-toggle {
  background-color: transparent;
  border: 0px;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
  opacity: 0.65;
}

.navbar-fixed-top {
  border-width: 0px;
}
