<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong>Pakkun</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="navbar-text"><%= current_user.email %></li>
          <a href="/plant_locations/new"><button type="button" class="btn btn-success navbar-btn">Add plant</button></a>
          <a href="/users/<%= current_user.id %>"><button type="button" class="btn btn-primary navbar-btn">My plants</button></a>
          <a href="/logout" data-method="delete"><button type="button" class="btn btn-danger navbar-btn">Log out</button></a>
        <% else %>
          <a href="/login"><button type="button" class="btn btn-primary navbar-btn">Log in</button></a>
          <a href="/signup"><button type="button" class="btn btn-primary navbar-btn">Sign up</button></a>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
