<div class="jumbotron">
  <div class="container">
  	<%= image_tag('pakkun_logo.png') %>
  	<h1>Pakkun</h1>
  	<h2>Hi carnivorous plant passionist!</h2>
    <p>Learn more about carnivorous plants, find them locally using geo-location, and add new ones you discover in nature</p>
  </div>
</div>

<div id="map">
	<nav id="map-ui">
		<!-- <a href="plant_locations/new" id="add-plant">Add plant</a> -->
		<!-- <a href="/plant_locations/new"><button type="button" class="btn btn-success navbar-btn">Add plant</button></a> -->
	</nav>
</div>
