<div class="jumbotron">
  <div class="container">
  	<%= image_tag('pakkun_logo.png') %>
  	<h1>Pakkun</h1>
  	<h2>Hi carnivorous plant passionist!</h2>
    <p>Consectetur adipisicing elit. Magni modi doloremque excepturi laudantium maxime explicabo cumque deleniti voluptate deserunt.</p>
  </div>
</div>

<div id="map">
	<nav id="map-ui">
		<a href="plant_locations/new" id="add-plant">Add plant</a>
	</nav>
</div>
