<div class="hero">
  <div class="hero-content">
    <%= image_tag('pakkun_logo.png', class: "hero-logo") %>
    <h1>Pakkun</h1>
    <h2>Hi carnivorous plant passionist!</h2>
    <p>Consectetur adipisicing elit. Magni modi doloremque excepturi laudantium maxime explicabo cumque deleniti voluptate deserunt.</p>
  </div>
</div>

<div id='map'></div>
