<h1>Add a new plant location</h1>

<form>
	<div>
		<label for="longitude">Longitude</label>
		<input type="text" name="longitude" id="longitude">
	</div>

	<div>
		<label for="latitude">Latitude</label>
		<input type="text" name="latitude" id="latitude">
	</div>

	<div>
		<label for="title">Title</label>
		<input type="text" name="title" id="title">
	</div>

	<div>
		<label for="description">Description</label>
		<textarea name="description" id="description"></textarea>
	</div>
</form>