<div class="container">
	<div class="form">
		
		<h1>Add plant</h1>

		<form action="/plant_locations" method="POST">
			<div>
				<label for="longitude">Longitude</label>
				<input type="text" name="plant_location[longitude]" id="longitude">
			</div>

			<div>
				<label for="latitude">Latitude</label>
				<input type="text" name="plant_location[latitude]" id="latitude">
			</div>

			<div>
				<label for="title">Title</label>
				<input type="text" name="plant_location[title]" id="title">
			</div>

			<div>
				<label for="description">Description</label>
				<textarea name="plant_location[description]" id="description"></textarea>
			</div>

			<button type="submit">Add plant location</button>

			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		</form>

	</div>
</div>