<div class="hero">
  <div class="hero-content">
    <img src="http://www.mariowiki.com/images/thumb/f/f1/SPM_Piranha_Plant.png/150px-SPM_Piranha_Plant.png" alt="Logo Image" class="hero-logo">
    <h1>Pakkun</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni modi doloremque excepturi laudantium maxime explicabo cumque deleniti voluptate deserunt.</h2>
  </div>
</div>

<div id='map'></div>
