<div class="hero">
  <div class="hero-content">
    <%= image_tag('pakkun_logo.png', class: "hero-logo") %>
    <h1>Pakkun</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni modi doloremque excepturi laudantium maxime explicabo cumque deleniti voluptate deserunt.</h2>
  </div>
</div>

<div id='map'></div>
