<!DOCTYPE html>
<html>
	<head>
	  
	  <title>Pakkun</title>

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css">

	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	</head>

	<body>

	<%= yield %>

	</body>
</html>
